.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.edit {
  color: darkgreen;
  text-decoration: none
}

.edit:hover{
  color: white
}

.edit-one {
  color: white;
  text-decoration: none
}

.edit-one:hover{
  color: white
}

.edit-two {
  color: rgb(76, 187, 215);
  text-decoration: none
}

.edit-two:hover{
  color: white
}

.register {
  text-align: left;
  margin-left: 255px
}

.formRegister, .formLogin {
  margin-left: 125px;
  /* background-color: antiquewhite; */
}

.login{
  text-align: left;
  margin-left: 275px;
  margin-top: 100px
}

.user-img {
  height: 40px;
  width:40px;
  border-radius: 50%;
}

.search {
  width:300px;
  border: black solid 1px;
  background-color: white;
}

.home-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(236, 247, 233, 0.516);
}

.pokemon-img {
  height: 225px;
  width: 225px;
}

.pokemon-img-user{
  height: 100px;
  width: 100px;
}

.viewpokemon-img {
  height: 300px;
  width: 300px;
}
.btn-sm {
  height: 35px;
  width: 70px
}

.btn-sm-user {
  height: 25px;
  width: 60px;
  font-size: 10px;
}

.scroll-user{
  height:175px;
}

.name {
  font-weight: bold;
}

.Bug, .Bug:hover{
  background-color: #A6B91A;
}

.Dark, .Dark:hover {
  background-color: #705746;
}

.Dragon, .Dragon:hover {
  background-color: #6F35FC;
}

.Electric, .Electric:hover {
  background-color: #F7D02C;
}

.Fairy, .Fairy:hover {
  background-color: #D685AD;
}

.Fighting, .Fighting:hover {
  background-color: #C22E28;
}

.Fire, .Fire:hover {
  background-color: #EE8130;
}

.Flying, .Flying:hover {
  background-color: #A98FF3;
}

.Grass, .Grass:hover{
  background-color: #7AC74C;
}

.Ghost, .Ghost:hover {
  background-color: #735797;
}

.Ground, .Ground:hover {
  background-color: #E2BF65;
}

.Ice, .Ice:hover {
  background-color: #96D9D6;
}

.Normal, .Normal:hover {
  background-color: #A8A77A;
}

.Poison, .Poison:hover {
  background-color: #A33EA1;
}

.Psychic, .Psychic:hover {
  background-color: #F95587;
}

.Water, .Water:hover {
  background-color: #6390F0;
}

.Rock, .Rock:hover {
  background-color: #B6A136;
}

.Steel, .Steel:hover {
  background-color: #B7B7CE;
}

.chatBox {
  height: 550px;
  background-color: antiquewhite;
  margin-top: 50px;
  border: solid black 3px;
  opacity: 0.9;
}

.about{
  background-color: antiquewhite;
  opacity: 0.95;
}

.rowStyle {
  border-bottom-width: 0px
}

.viewTable {
  background-color: antiquewhite;
}

.messageContainer {
  height: 472px
}

.message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 900px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 10px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 10px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.message .message-meta {
  display: flex;
  font-size: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
