.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.edit {
  color: green;
  text-decoration: none
}

.edit:hover{
  color: white
}

.register {
  text-align: left;
  margin-left: 255px
}

.formRegister, .formLogin {
  margin-left: 125px;
  /* background-color: antiquewhite; */
}

.login{
  text-align: left;
  margin-left: 275px;
  margin-top: 100px
}

.search {
  width:300px
}

.bug, .bug:hover{
  background-color: #A6B91A;
}

.dark, .dark:hover {
  background-color: #705746;
}

.dragon, .dragon:hover {
  background-color: #6F35FC;
}

.electric, .electric:hover {
  background-color: #F7D02C;
}

.fairy, .fairy:hover {
  background-color: #D685AD;
}

.fighting, .fighting:hover {
  background-color: #C22E28;
}

.fire, .fire:hover {
  background-color: #EE8130;
}

.flying, .flying:hover {
  background-color: #A98FF3;
}

.grass, .grass:hover{
  background-color: #7AC74C;
}

.ghost, .ghost:hover {
  background-color: #735797;
}

.ground, .ground:hover {
  background-color: #E2BF65;
}

.ice, .ice:hover {
  background-color: #96D9D6;
}

.normal, .normal:hover {
  background-color: #A8A77A;
}

.poison, .poison:hover {
  background-color: #A33EA1;
}

.psychic, .psychic:hover {
  background-color: #F95587;
}

.water, .water:hover {
  background-color: #6390F0;
}

.rock, .rock:hover {
  background-color: #B6A136;
}

.steel, .steel:hover {
  background-color: #B7B7CE;
}

.chatBox {
  height: 550px;
  background-color: antiquewhite;
  margin-top: 50px;
  border: solid black 3px;
  opacity: 0.9;
}

.about{
  background-color: antiquewhite;
  opacity: 0.95;
}

.rowStyle {
  border-bottom-width: 0px
}

.viewTable {
  background-color: antiquewhite;
}

.messageContainer {
  height: 472px
}

.message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 900px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 10px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 10px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.message .message-meta {
  display: flex;
  font-size: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
